<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=AYAKOVLEV;Initial Catalog=MCS;User ID=sa;Password=Mc123456" providerName="System.Data.SqlClient" />
  <add name="DataBase" connectionString="data source=192.168.111.107;initial catalog=MCS;persist security info=True;user id=sa;password=Mc123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
</configuration>